{% extends 'base.html.twig' %}
{% block body %}
	<div class="error-type">
		<h1 class="erreur">Erreur 404</h1>
		<p>Oups, il semblerait que cette page ait pris des vacances.</p>
		<p>Retournez à la
			<a href="/">page d'accueil</a>.</p>
	</div>
{% endblock %}
