{% extends 'base.html.twig' %}
{% block body %}

	<h1 class="erreur">Erreur 404</h1>
	<p>La page que vous recherchez n'a pas été trouvée.</p>
	<p>Retournez à la
		<a href="/">page d'accueil</a>.</p>

{% endblock %}
