{% extends 'base.html.twig' %}
{% block body %}
	<h1 class="erreur">Erreur 403</h1>
	<p>Accès interdit. Vous n'avez pas l'autorisation d'accéder à cette page.</p>
	<p>Retournez à la
		<a href="/">page d'accueil</a>.</p>
{% endblock %}
