{% extends 'base.html.twig' %}
{% block body %}
	<div class="error-type">
		<h1 class="erreur">Erreur 500</h1>
		<p class="error-txt">Oups ! Quelque chose s'est mal passé.
								Nous rencontrons un problème technique sur notre site. 
									Nos équipes travaillent déjà pour résoudre ce souci et rendre votre expérience fluide 
									à nouveau. Nous vous prions de nous excuser pour ce désagrément et vous remercions 
									pour votre patience.
		</p>
		<p>Retournez à la
			<a href="/">page d'accueil</a>.</p>
	</div>
{% endblock %}
