	{% block body %}
    <div class="pres-profile">Je m'appelle Ludivine Goldstein et je suis développeuse web depuis 2022,
					J'ai pu me lancer dans une reconversion professionnelle qui m'a menée à une de mes passions : le domaine informatique et digital. 
					Fan des nouvelles technologies, je m'épanouis autant dans le développement front-end que back-end. Amoureuse de la nature et des animaux, 
					je cherche à intégrer des pratiques durables dans mon travail quotidien. 
					En situation de handicap physique, je suis un exemple vivant que la passion et la détermination ouvrent toutes les portes."
					N'hésitez pas à me confiance pour vos projets, l'application' et l'adaptabilité sont les maîtres mots de ma carrière professionnelle!
			</div>
            {% endblock %}