{% extends 'base.html.twig' %}

{# {% block js %}
    {{ parent() }}
    <script src="../js/newPassword.js"></script>
{% endblock %} #}

{% block body %}
	<div class="profil-container">
		<h2 class="profil-title">Mes données personnelles</h2>

		<form action="/editProfil" method="post" class="edit-profile">
			<div class="form-group profil-field">
				<label for="firstname">Prénom:</label>
				<input type="text" id="firstname" name="firstname" 
                value="{{ user.firstname }} " >
			</div>

			<div class="form-group profil-field">
				<label for="lastname">Nom:</label>
				<input type="text" id="lastname" name="lastname" 
                value="{{ user.lastname }}" >
			</div>

			<div class="form-group profil-field">
				<label for="mail">Email:</label>
				<input type="email" id="mail" name="mail" value="{{ user.mail }}">
			</div>

			<!-- Section pour la réinitialisation du mot de passe -->
			<h4 class="mdp-change">Changement du mot de passe</h4>

			<div class="form-group password">
				<input type="password" name="new_password" class="form-control" id="password" placeholder="Nouveau mot de passe">
			</div>
			<div class="form-group rewrite-password">
				<input type="password" name="new_checkpassword" class="form-control" id="password-verify" placeholder="Confirmer le nouveau mot de passe">
			</div>

			<div class="form-group">
				<input type="submit" class="modify-btn" name="submit" value="Modifier le profil">
			</div>
		</form>
	</div>
{% endblock %}
