{% extends 'base.html.twig' %}
 {% block js %}
	{{parent()}}
	<script src="../js/password.js"></script>
{% endblock %} 
{% block body %}

	<p>Entrez votre adresse e-mail ci-dessous pour réinitialiser votre mot de passe :</p>
	<form action="/forgotPassword" method="post">
		<div>
			<label for="mail">Adresse e-mail :</label>
			<input type="email" id="mail" name="mail" required>
		</div>
		<div>
			<button type="submit" name="submit" value="Reinitialiser le mot de passe">Réinitialiser le mot de passe</button>
		</div>
	</form>


{% endblock %}
