{# {% extends 'base.html.twig' %}

{% block body %}
<p>
    Bienvenue sur notre site ! Pour confirmer votre inscription, veuillez cliquer sur le lien ci-dessous :
{#     <a href={# "{{ path('confirmation', {'token': token}) }}" #}
{# >Confirmer votre email</a>
</p>{% endblock %}  #}