{% block body %}
	<div class="container">
		<h2>confirmation e-mail</h2>
		<div class="corps-email">Merci beaucoup de vous être inscrit!
			<p>Pour finaliser votre inscription, veuillez cliquer sur le bouton ci-dessous afin de confirmer votre adresse e-mail. 
				  Nous sommes ravis de vous accueillir parmi nous !"</p>
		</div>
		<a href="{{ confirmation_link }}" class="button">Confirmer votre adresse e-mail</a>
		<p>Si vous n'avez pas créé de compte, veuillez ignorer cet e-mail.</p>
	</div>


{% endblock %}
