{% extends 'base.html.twig' %}

{% block body %}
	<div class"mentions-legales">Mentions Légales
		
		Éditeur du Site :
		Nom du Site : [My Blog]
		Propriétaire : Ludivine Goldstein
		Adresse : [6 Rue Traversière 49340 Vezins]
		Contact : [ludivinezarkos@gmail.com]
		
		
		Hébergement :
		Nom de l'hébergeur : [Nom de l'hébergeur]
		Adresse : [Adresse de l'hébergeur]
		Téléphone : [Numéro de téléphone de l'hébergeur]
		
		Développement :
		Ludivine Goldstein
		
		Conditions d’utilisation :
		L’utilisation du site [My-Blog] implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment.
		
		Services fournis :
		Ce blog a pour but de mettre en avant des articles relatifs au developpement informatique et à tout ce qui y attrait
		
		Propriété intellectuelle :
		Tous les contenus présents sur le site [My-Blog], incluant, mais sans s'y limiter, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
		
		Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Ludivine Goldstein. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
		
		Gestion des données personnelles :
		Description de votre politique de confidentialité et de gestion des données personnelles, incluant le traitement des cookies, le droit d'accès, de modification et de suppression des données personnelles>
	</div>
{% endblock %}
