{% extends 'base.html.twig' %}
{% block js %}
	{{ parent() }}
	<script src="../js/newPassword.js"></script>
{% endblock %}
{% block body %}
	<div class="form-container">
		<h1>Réinitialisation du mot de passe</h1>
		<p>Entrez votre nouveau mot de passe et confirmez-le :</p>

		<form class="new-password" id="new-password-form" action="/resetPassword/{{resetToken}}" method="post">
			<div class="password">
				<input type="password" name="new_password" class="form-control form-control-user" id="password" placeholder="Mot de passe" required>
			</div>
			<div class="rewrite-password">
				<input type="password" name="new_checkpassword" class="form-control form-control-user" id="password-verify" placeholder="Confirmer mot de passe" required>
			</div>
			<button type="submit" name="submit" class="button-mdp" value="Réinitialiser le mot de passe">Réinitialiser le mot de passe</button>
		</form>
	</div>

{% endblock %}
