body {
    font-family: Arial, sans-serif;
    background-color: #dedbdb;
    margin: 0;
    padding: 0;
}

header {
    background-color: #dedbdb;
    color: black;
    text-align: center;
}

/* Style de base pour la barre de navigation */
.navbar {
    background-color: rgb(166, 166, 242);
    /* Couleur de fond */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Style pour la liste non ordonnée */
.navbar a.nav-link#blog-name {
    display: block;
    color: black;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
}
.blog-brand{
    display: flex;
    align-items: center;
}
.who{
    width: 50%;
}
.navbar ul.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Style pour les éléments de la liste */
.navbar li.nav-item {
    margin: 0;
    padding: 0;
}

/* Style pour les liens dans la barre de navigation */
.navbar a.nav-link {
    display: block;
    color: white;
    /* Couleur du texte */
    text-align: center;
    padding: 14px 16px;
    /* Espacement autour du texte */
    text-decoration: none;
    /* Supprime les soulignements par défaut des liens */
    transition: background-color 0.3s;
    /* Transition de couleur de fond */
}

/* Style pour les liens au survol */
.navbar a.nav-link:hover {
    background-color: #a8a5a5;
    /* Couleur de fond au survol */
}

/* Style pour le menu déroulant des articles */
.navbar .edit-articles {
    display: none;
    /* Caché par défaut */
    position: absolute;
    background-color: #aeacac;
    /* Couleur de fond */
    min-width: 160px;
    /* Largeur du menu déroulant */
    z-index: 1;
    /* Place au-dessus des autres éléments */
}

/* Style pour les éléments du menu déroulant */
.navbar .edit-articles li {
    display: block;
    text-align: left;
    padding: 10px;
}

/* Style pour les liens du menu déroulant */
.navbar .edit-articles a {
    color: white;
    /* Couleur du texte */
    text-decoration: none;
    /* Supprimer les soulignements par défaut des liens */
    display: block;
    transition: background-color 0.3s;
    /* Transition de couleur de fond */
}

/* Style pour les liens du menu déroulant au survol */
.navbar .edit-articles a:hover {
    background-color: #555;
    /* Couleur de fond au survol */
}

/* Afficher le menu déroulant au survol du parent */
.navbar li.nav-item:hover .edit-articles {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.erreur {
    font-size: 4em;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #666;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
#blog-logo{
    width: 8%;
    border-radius: 50%;
}
/* style page signin/login*/

/* Style pour le formulaire d'inscription */
.card {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les champs du formulaire */
.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-block {
    display: block;
    width: 100%;
    border-radius: 50px;
    margin-top: 10px;
}
/* Style pour le formulaire de connexion */
#login {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style pour les champs du formulaire */
.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style pour le bouton "Se connecter" */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-block {
    display: block;
    width: 100%;
    margin-top: 10px;
}
.forgot-password{
    margin-top: 10px;
}


/* Style de base pour le footer */
footer {
    background-color: black;
    color: white;
    padding: 10px 0; /* Réduire la hauteur du padding */
    text-align: center;
    margin-top: 50px;
}

/* Style pour la section "footer-content" avec les icônes sociales et les liens */
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Style pour les icônes sociales */
.social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-icon {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    margin: 0 10px;
    display: flex;
}

.social-icon:hover {
    color: #55acee;
}

/* Style pour les liens dans la section "footer-links" */
.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
}

.footer-links li {
    margin: 0 10px; /* Espacement entre les liens */
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #55acee;
}

/* Style pour le lien "Admin" */
.footer-administration {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-administration a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 10px;
}

.footer-administration a:hover {
    color: darkgray;
}

/* Style pour le texte en bas du footer */
.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 10px;
}
.confidential{
    font-size: 8px;
}
.credit{
    font-size: 8px;
}
