{% extends 'base.html.twig' %}
{% block style %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
	<script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
{% endblock %}
{% block body %}
	<div class="txt-article">
		<h3>Ajouter un article sur mon blog</h3>
	</div>
	{% include 'admin/article/_form.html.twig' %}
{% endblock %}
