{% extends 'base.html.twig' %}
{% block body %}

 <form action="/" method="post">
<input name="title" id="title" type="text">
<button type="submit">
envoyer 
</button>

</form> 


</body>
</html>


{% endblock %}