{% block body %}
	<div class="container">
		<h2>Informations sur votre commentaire
		</h2>
		<div class="corps-email">Merci beaucoup pour le commentaire soumis!
			<p>Malheureusement pour des raisons liées au code de déontologie de ce site, 
						    nous ne pouvons publier votre commentaire en l'état.
			</p>
		</div>
		<p>Nous vous encourageons à
			<a href="{{ contactLink }}">nous contacter</a>
			si vous avez des questions ou des préoccupations.</p>
	</div>
</div>{% endblock %}
