{% block body %}

	
<div class="comments-section">
	<h2 class="section-title">Commentaires validés et publiés</h2>
	<div class="comments-container-parent">
		<div class="comment-container">
            <div class="comment-img"><img src="./img/dupont.png"></img></div>
			<div class="comment-info">
            <div class="comment-author">Dupont</div>
			<div class="comment-text">Je trouve cet article très intéressant</div>
		</div>
        </div>
		<li class="comment">
			<div class="comment-author">Auteur du commentaire 2</div>
			<div class="comment-text">Contenu du commentaire 2</div>
		</li>
		<li class="comment">
			<div class="comment-author">Auteur du commentaire 3</div>
			<div class="comment-text">Contenu du commentaire 3</div>
		</li>
	</div>
</div>{% endblock %}
