{% extends 'base.html.twig' %}
{% block style %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css"/>
{% endblock %}
{% block body %}
	<h2>Tableau de bord administrateur</h2>
	<div class="table-container">
		<div class="col-md-4">
			<h3>Gestion des utilisateurs</h3>
			<div class="edit-user">
				<a button="edit-btn" class="edit-btn" href="/admin/user/addRole">Gérer le statut</a>
			</div>
			<ul>
				{% include 'admin/user/_user_profil.html.twig' %}
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Gestion des articles</h3>
			<div class="edit-article">
				<a button="edit-btn" class="edit-btn-hidden">Modifier</a>
			</div>
			<ul>
				{% include 'admin/article/_article_table.html.twig' %}
			</ul>
		</div>
		<div class="col-md-4">
			<h3>Gestion des commentaires</h3>
			<div class="edit-comment">
				<a button="edit-btn" class="edit-btn" href="comment/comments_pending">Modifier</a>
			</div>
			{% if allComments is empty %}
				<p>Pas de commentaires en attente d'approbation</p>
			{% else %}
				{% include 'admin/comment/_comment_table.html.twig' %}
			{% endif %}
		</div>
	</div>
{% endblock %}
