{# Dans votre fichier article/index.html.twig #}


{% extends 'base.html.twig' %}
{% block body %}
    <h1>Liste des Articles</h1>

    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                {% if article.updateDate %}
                    <p>Date de Modification : {{ article.updateDate|date('d/m/Y') }}</p>
                {% endif %}
                <p>Chapô : {{ article.chapo }}</p>
                <p><a href="/article/{{ article.id }}" target="_blank">Lire l'article</a></p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
