{% extends 'base.html.twig' %}

{% block body %}
 <div class="container">
        <div class="article">
            <h2><a href="lien_vers_le_blog_post_1">Titre de l'article 1</a></h2>
            <div class="date">Date de dernière modification : 10 septembre 2023</div>
            <p>Chapô  blablablablabla.</p>
        </div>
        <div class="article">
            <h2><a href="lien_vers_le_blog_post_2">Titre de l'article 2</a></h2>
            <div class="date">Date de dernière modification : 5 septembre 2023</div>
            <p>Chapô de l'article 2. re blablablablabla</p>
        </div>
        
    </div>


{% endblock %}