<div class="latest-articles">
	<h2>les derniers articles publiés sur mon blog, à lire sans modération!</h2>
	<div class="article-container">
		{% for article in articles|slice(0, 3) %}
			<div class="article-card">
				<h2 class="title-home-article">
					<a href="/articles">{{ article.title }}</a>
				</h2>
				<p>{{ article.chapo|split(' ')|slice(0, 10)|join(' ') }}
					{% if article.chapo|split(' ')|length > 10 %}
						...
					{% endif %}
				</p>
				<p class="date-style">
					Publié le
					{{ article.date|date('d/m/Y') }}
				</p>
			</div>
		{% endfor %}
	</div>
</div>
