<table id="user_table" class="display responsive nowrap" width="100%">
	<thead>
		<tr>
			<th>lastname</th>
			<th>firstname</th>
			<th class="none-mobile">Mail</th>
			<th>Role</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr>
				<td>{{ user.lastname }}</td>
				<td>{{ user.firstname }}</td>
				<td class="none-mobile">{{ user.mail }}</td>
				<td>{{ user.role|replace({'[':'', ']':'', '"':''}) }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
